:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leaflet-popup-content-wrapper {
  padding: 7px;
}

.leaflet-popup-content {
  margin: 0;
  padding: 0;
}

.custom-popup-addby {
  font-size: 10px;
  color: gray;
  margin: 0;
  padding: 0;
}

.custom-popup-comment {
  font-size: 14px;
  color: gray;
  margin: 0;
  padding: 0;
}

.custom-popup-header {
  font-size: 19px;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.custom-popup .chakra-button {
  font-size: 12px;
}

.custom-zoom-control {
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  border: 2px solid gray;
  border-radius: 4px;
}

.custom-zoom-control button {   
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #666;
  text-align: center;
  background: white;
  border: none;
  cursor: pointer;
  display: block;
}

.custom-zoom-control button:first-child {
  border-bottom: 1px solid #ccc;
}

.custom-zoom-control button:hover {
  background: #f4f4f4;
}
.leaflet-sidebar {
  bottom: 50px;
  height: auto !important;
}

.leaflet-sidebar-content {
  background-color: white;
}

.leaflet-sidebar-tabs {
  background-color: #3182ce;
}

.leaflet-sidebar-tabs > ul > li > a {
  color: white;
}

.leaflet-sidebar-tabs > ul > li.active {
  background-color: white;
}

.leaflet-sidebar-tabs > ul > li.active > a {
  color: #3182ce;
}

.leaflet-sidebar-header {
  background-color: #3182ce;
  color: white;
}
/*a {*/
/*  font-weight: 500;*/
/*  color: #646cff;*/
/*  text-decoration: inherit;*/
/*}*/
/*a:hover {*/
/*  color: #535bf2;*/
/*}*/

/*body {*/
/*  margin: 0;*/
/*  display: flex;*/
/*  place-items: center;*/
/*  min-width: 390px;*/
/*  min-height: 100%;*/
/*  justify-content: center;*/
/*}*/

/*h1 {*/
/*  font-size: 3.2em;*/
/*  line-height: 1.1;*/
/*}*/

/*button {*/
/*  border-radius: 8px;*/
/*  border: 1px solid transparent;*/
/*  padding: 0.6em 1.2em;*/
/*  font-size: 1em;*/
/*  font-weight: 500;*/
/*  font-family: inherit;*/
/*  background-color: #1a1a1a;*/
/*  cursor: pointer;*/
/*  transition: border-color 0.25s;*/
/*}*/
/*button:hover {*/
/*  border-color: #646cff;*/
/*}*/
/*button:focus,*/
/*button:focus-visible {*/
/*  outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

